@font-face {
    font-family: "TotHopic";
    src: url("./public/fonts/TotHopic-dr2ER.ttf");
}

body {
    min-height: 100dvh;
}

section {
    min-height: 100dvh;
}

.scary {
    font-family: "TotHopic";
}

.scary-shadow {
    /* font-size: 10em; */
    text-shadow: 5px 5px 0px rgb(110, 0, 0);
}

.numberItem {
    min-width: 50px;
    min-height: 50px;
    border-radius: 20%;
    display: inline-block;
}

.btn.btn-danger {
    box-shadow: 5px 5px 0px rgb(110, 0, 0);
}

.btn.btn-warning {
    box-shadow: 5px 5px 0px rgb(144, 120, 0);
}

.form-control[type="number"] {
    max-width: 100px;
    min-width: 70px;
}

#suertingLoading {
    min-width: 100dvw;
    min-height: 100dvh;
    background-color: rgba(0, 0, 0, .5);
}

#suertingLoading h2 {
    animation: bounce 5s ease infinite;
}

@keyframes bounce {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}